/*---------------GENERAL----*/
*{
    text-transform: uppercase;
}
html, body {
	margin: auto;
	font: 11px Calibri;
    background-image: linear-gradient(rgb(107, 132, 139),#fff,#fff);
    color:#6b848b;
    font-size: 14px;
}

    #site{
        display: inline-flexbox; 
        box-shadow: 2px #000;
        width: calc(100% - 280px);
        margin: 30px auto 0;
        background-color:#fff;
    }
        a{
            text-decoration: none;
            cursor: pointer;
            padding: 0;
            margin: 0;
        }

/*-----------------HEADER----*/
header{
    width: 100%;
    min-width: 250px;
    border:1px solid #6b848b;
}
.logo img{
    vertical-align: middle;
    float: left;
    height:250px;
    margin-top:25px;
}
.bandeau img{
    padding: 30px;
  }
.language{
   clear: both;
   padding: 0 50px 0 0;
   float:right;
}
.language span{
    float:right;
    margin-right:5px;
    font-size: 14px;
    line-height: 34px;
}
.language ul li{
    list-style: none;
    display:inline-flex;
}
.language li{
   border-left:1px solid #6b848b;
}
.flag_en ,.flag_fr{
    padding: 0px;
    margin: 0px;
}
.flag_en:hover{
   border-bottom: 1px solid rgb(107, 132, 139);
}
.flag_fr:hover{
   border-bottom: 1px solid rgb(107, 132, 139);
}
/*-----------CAROUSSEL header---------*/

div#slider{
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}
    div#slider figure{
        position: relative;
        width: 800%;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: left;
        animation: 15s slidy infinite;
    }
    div#slider figure img{
        width: 12.5%;
        height: auto;
    }

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

/*----------------MENU----*/
#nav{
    display: flex;
    margin-bottom: 0px;
    height: 50px;
    color:#6b848b;
    font-size: 11px;
    line-height: 42px;
    background-image: linear-gradient(#FFF,#FFF,#6b848b);
}
    #nav div a{
    text-decoration: none;
    padding: 10px;
    }
    #nav div a:hover{
        color:rgb(255, 174, 0);
    }

/*-----nav active----*/
#nav .active {
    height:100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    color:#fff;
    background-color: #6b848b;
    position: relative;
    bottom: -2px;
    text-align: center;
    padding: 20px;
}
    #nav .active a{
    text-decoration: none;
    color:#FFF;
    padding: 25px;
    line-height: 100px;
    }
/*----nav collapse---*/

#nav_links{
    display: flex;
    width: 100%;
    position: relative;
    left:0px;
    right:0px;
   
}
    #nav_links div{
        text-align: center; 
        border-left: 1px solid hsl(193, 13%, 48%);
        background-image: linear-gradient(#FFF,#FFF,#6b848b);
    }
    #nav_links div .active{
    background-color: #6b848b;
    height:50px;
    }
#burger{
    display: none;
}
/*-----------image nav-----*/
#feux{
    flex: 0 0 15%;
    margin-left: 55px;
}

    .radius_effect{
        height:50px;
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        color:#fff;
        background-color: #6b848b;
        height: calc(100% + 30px);
        position: relative;
        bottom: 35px;
        text-align: center;
    }

/*-----------------SECTION----*/
#conteneur{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    aside{
        min-width: 150px;
        width: 17%;
        min-height: 750px;
        color:#6b848b;
        box-shadow: 5px 5px 5px #6b848b;
        background-color:#FFF!important;
        height: 500px;
        line-height: 2px;
        padding: 5px;
    }
        aside div{
            word-wrap: break-word;
            height: 30px;
            cursor: pointer;
            border-bottom:1px solid #6b848b;
            margin-top: 30px;
            text-align: right;
        }
        .aside_nav{
            border-top:1px solid  linear-gradient(rgb(107, 132, 139),#fff);;
        }
        .aside_nav .active{
        background-color:#FAFAFA;
        }
        .aside_nav div .active{
            height: 30px;
        }
        .logo_aside img{
            height:140px;
            margin:460px 15% 24px 0%;
        }

    section{
        min-height: 750px;
        height: 500px;
        width: 88%;
    }
        section img{
            float:right;
            padding:73px;
            cursor: pointer;
        }
        .hello{
            width:99%;
            min-height: 750px;
            float:right;
            padding:40px;
            box-shadow:5px 5px 5px #6b848b;
            text-align:justify;
            color:#6b848b ;  
        }
        .who{
          font-weight: 500;
          font-size: large;
         
        }
        .parag{
            padding: 50px;
          }
         
       
        
   
  /*----------------FOOTER----*/
footer{
    width:100%;
    height: 50px;
    padding:17px;
   
}
     footer ul {
        display: flex;
        justify-content: space-around;
        font-size: 11px;
        border:1px solid #97b0c4;
        background-color:#e3e9e9;
        border-bottom: none;
        box-shadow:0px 0px 5px #6b848b;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        align-items: center;
        list-style: none;
        width: 50%;
        padding:8px;
        margin: 0 auto;
        text-decoration: underline;
    }
        footer ul li{
            cursor: pointer;
        }
        footer ul li a{
            color:#97b0c4;
        }
/*----------------MEDIA QUERIES----------------*/
@media only screen and (max-width: 1524px) {
    .logo img{
        align-items: center;
        float: none;
        height:56px;
        margin-left: 150px;
        margin-top:4px;
        }
    .parag {
        line-height: 20px;
        font-size: 12px;
         }
         aside div{
            font-size: 10px;
         }
         .logo_aside img{
            height: 110px;
            }
      footer{
          margin-top: 50px;
      }      
}
@media only screen and (max-width: 1024px) {
    
header{
width: 100%;
min-width: 150px;
}
    #nav{
    line-height: 55px;
    }
    #nav_links {
    display: none;
    flex-direction: column;
    height: 160px;
    }
    .toggled #nav_links {
    display: flex;
    }
    .bandeau img{
         height:60px;
        }
     .logo img{
    align-items: center;
    float: none;
    height:60px;
    margin-top:10px;
    }
     #feu1 {
    display: none;
    }    
    #burger {
    display: block;
    width: 45px;
    line-height: 70px;
    }
  
section img{
    float:none;
     padding:6px;
    }
       
     aside {
    width: 100%;
    padding:8px;
    float: none;
    word-wrap: break-word;
    font-size: 12px;
    }
    .logo_aside img{
    height: 110px;
    }
    .parag {
    padding: 18px;
    }

footer{
height: 25px;
padding: 0px;
margin: 0px auto;

}
     footer ul {
            margin: 30px 0px 0px 220px;
    }
}
@media only screen and (max-width: 950px) {

nav{
    padding:0px;
    line-height:50px;
 }
     .logo img{
        float: none;
        height:60px;
        margin-top:0px;
     }
    #feu{
        padding:0px;
    }
     .bandeau img{
         height:100px;;
     }
    aside {
    width: 100%;
    padding:8px;
    font-size: 8px;
    float: none;
}
    .logo_aside img{
    height: 110px;
    }
    .parag {
       line-height: 10px;
       font-size: 10px;
       padding: 0;
       margin: 0;
    
    }
    section img{
        float:none;
        height: 50px;
        padding:0px;
        }
        .who{
            font-size: 10px;
           
        }
    
   
footer ul {
margin: 0 auto;
width: 100%;
margin-top: 50px;
}    
    }